:root {
	--cor-principal: #181b25;
	--cor-secundaria: #243446;
	--cor-destaque: #c7ac6b;
  }
  
  body {
	background-color: var(--cor-principal);
	color: #f1f1f1;
	scroll-behavior: smooth;
  }
  
  /* Botão "voltar ao topo" */
  #btnTopo {
	display: none;
	border-radius: 50%;
	font-weight: bold;
	transition: 0.3s;
  }
  #btnTopo:hover {
	background-color: var(--cor-secundaria);
	color: white;
  }
  